# Archivo de ejemplo. Renombrar a .env 
# Sustituir toda la cadena por tu propia CONNECTION_STRING de MongoDB Atlas
MONGO_URI="mongodb+srv://<tu_usuario>:<tu_password>@<tu_cluster_id>.mongodb.net/?retryWrites=true&w=majority"